In [5]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [6]:
wine_csv = "Wines.csv"
wine_df = pd.read_csv(wine_csv, encoding = 'ISO-8859-1')

In [7]:
wine_df['Year'] = pd.DatetimeIndex(wine_df['Vintage']).year
wine_df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery,Year
0,1/1/2014,France,Pomerol,NaN,96,"$2,500.00",Bordeaux,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus,2014
1,1/1/2010,France,Saint-Émilion,NaN,100,"$1,500.00",Bordeaux,Château Cheval Blanc 2010 Saint-Émilion,Bordeaux-style Red Blend,Château Cheval Blanc,2010
2,1/1/2009,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke,2009
3,1/1/2015,Germany,NaN,Kiedrich Gräfenberg Trockenbeerenauslese,98,$775.00,Rheingau,Robert Weil 2015 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil,2015
4,1/1/2012,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella,2012

In [8]:
red_csv = "Red.csv"
redwine_df = pd.read_csv(red_csv)

In [9]:
redwine = pd.DataFrame(redwine_df)

In [10]:
rose_csv = "Rose.csv"
rosewine_df = pd.read_csv(rose_csv)

In [11]:
test = rosewine_df.dropna()
test.count()

Name               397
Country            397
Region             397
Winery             397
Rating             397
NumberOfRatings    397
Price              397
Year               397
dtype: int64

In [12]:
from secrets import pw

In [13]:
engine = create_engine(f'sqlite:///wine_db.sqlite')

In [14]:
engine.table_names()

['wines', 'wines_clean']

In [15]:
wine_df.to_sql(name='wines', con=engine, if_exists='append', index=False)

In [16]:
wine_df.count()

Vintage        24997
Country        24989
County         20809
Designation    17633
Points         24997
 Price         23375
Province       24989
Title          24997
Variety        24997
Winery         24997
Year           24997
dtype: int64

In [17]:
wine_drop = wine_df.dropna()
wine_drop.count()

Vintage        13319
Country        13319
County         13319
Designation    13319
Points         13319
 Price         13319
Province       13319
Title          13319
Variety        13319
Winery         13319
Year           13319
dtype: int64

In [18]:
wine_drop.to_sql(name='wines_clean', con=engine, if_exists='append', index=False)